.header{
  width: 100%;
  min-height: 100%;
  background: url("../../img/header_fon.png") no-repeat;
  background-size: cover;
  margin-bottom: 100px;
  &__container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 10px;
  }
  &__top{
    display: flex;
    justify-content: space-between;
    height: 100px;
    & .logo {
      height: 100%;
      display: flex;
      align-items: center;
      & p{
        color: #60606e;
        font-family: 'Montserrat', sans-serif;
        font-size: 17px;
        font-weight: 700;
        line-height: 48px;
        text-transform: uppercase;

      }
    }
    & .menu ul{
      display: flex;
      height: 100%;
      align-items: center;
      & li{
        position: relative;
        margin-right: 20px;

        }
        & a{
          font-family: 'Montserrat', sans-serif;
          font-size: 12px;
          font-weight: 700;
          color: #60606e;
          text-transform: uppercase;
          &::before{
            content: '';
            position: absolute;
            top: 0px;
            left: 0;
            width: 50%;
            height: 1px;
            background-color: #60606e;
            opacity: 0;
            transition: 0.2s;
        }
          &:hover::before{
            top: -10px;
            opacity: 1;
          }
        &:last-of-type{
          margin-right: 0;
        }
      }
    }

  }
  /*Rotator*/
  &__rotator{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 450px;
    & .title{
      color: #60606e;
      font-family: 'Montserrat', sans-serif;
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
      padding: 10px 20px;
      background-color: #7beec7;
    }
    & .logo{
      color: #60606e;
      text-align: center;
      font-family: 'Montserrat', sans-serif;
      font-size: 48px;
      font-weight: 700;
      text-transform: uppercase;
      padding: 32px 45px;
      border: 10px solid #60606e;
      margin-bottom: 30px;
    }
    & .text{
      max-width: 540px;
      text-align: center;
      color: #60606e;
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
    }
  }
  &__block{
    display: flex;
    justify-content: space-between;
    & img{
      margin-right: 130px;
    }
    & .history{
      display: flex;
      flex-direction: column;
      flex-basis: 50%;
      & h2{
        color: #60606e;
        justify-content: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 30px;
        font-weight: 700;
        line-height: 48px;
        text-transform: uppercase;
        margin-bottom: 30px;
        position: relative;
        z-index: 1;
        &:after{
          content: '';
          left: 0px;
          top: 50%;
          width: 70px;
          height: 20px;
          background-color: #7beec7;
          position: absolute;
          z-index: -1;
        }
      }
      & p{
        color: #60606e;
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        margin-bottom: 20px;
      }
      & .btn{
          @include btn(#7beec7, #fff);
      }
    }
  }
}

@media (max-width: 1145px) {
  .header{
    min-height: 750px;
    padding-bottom: 10px;
  }
  .header__block{
    display: flex;
    flex-direction: column;
    align-items: center;
    img{
      margin-right: 0;
    }
    & .history {
      align-items: center;
      }
    }
  }


@media (max-width: 540px) {
  .header{
    margin-bottom: 60px;
  }
  .header__rotator{
    & .logo{
      font-size: 40px;
    }
  }
  .header__block{
    padding: 0 10px;
    & .banner{
      margin-bottom: 30px;
    }
    & .history{
      & h2{
        margin-bottom: 15px;
        font-size: 25px;
      }
    }
  }
}